.section-auth {
  width: 30%;
  margin: 0 auto;
}
.auth-social-wrapper {
  text-align: center;
}

.auth-title {
  font-size: 3rem;
  font-weight: 500;
  color: rgb(40, 55, 62);
}

.auth-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.auth-btns button {
  width: 100%;
  padding-block: 0.5rem;

  font-size: 1.4rem;
  font-weight: 450;
}

.auth-text-divider {
  display: flex;
  margin: 32px 0;
  font-size: 13px;
  font-weight: 450;
  color: #6b7980;
  text-align: center;
  border-top: 0;
  border-top-color: #e1e4e6;
}
.auth-text-divider .auth-text {
  width: 50%;
}

.auth-text-divider:before,
.auth-text-divider:after {
  content: " ";
  position: relative;
  top: 50%;
  width: 40%;
  border-top: 1px solid transparent;
  border-top-color: inherit;
  border-bottom: 0;
  transform: translateY(50%);
  flex-grow: 1;
}

.login--secondary-actions {
  font-size: 1.6rem;
}

.btn-showPass {
  border-top: 1px solid var(--color-gray) !important;
}



/* FOR REGISTER PAGE CSS  */
.auth-desc{
  font-size: 1.6rem;
}

.auth-subtitle{
  font-size: 16px;
  font-weight: 400;
  color: #28373e;
  margin-bottom: 3rem;
}
.term-text{
  font-size: 1.3rem;
  font-weight: 400;
  color: #74838b;
}
.term-text span{
  margin-inline: 0.5rem;
}
.step-title{
  font-size: 1.3rem;
  font-weight: 400;
}
.verify-email-text{
  font-size: 1.6rem;
  font-weight: 400;
  color: #28373e;
}
.verify-email-text p:first-child{
  margin-bottom: 0.4rem;
}
.resend-code-text{
  font-size: 1.3rem;
  font-weight: 400;
}
.selection-box{
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
}
.usage{
  padding: 1rem;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  text-align: center;
  color: #28373e;
  cursor: pointer;
}
.usage:hover{
  border: 1px solid var(--color-gray);
  background-color: var(--color-gray);
}
.usage-1{
  grid-column: 1 / span 2;
}
.usage-2{
  grid-column: 3 / span 2;
}
.usage-4{
  grid-row: 2;
  grid-column: 2 /span 2;
}
.usage-6{
  grid-row: 3;
  grid-column: 1 / span 2;
}
.usage-7{
  grid-row: 3;
  grid-column: 3 /span 2;
}

.usage.selected{
  border: 1px solid dodgerblue;
  background-color: #e7f1fc;
}