.tabs-container{
    border-bottom: 1px solid lightgray;
}

.btn-tab.active{
    border: none;
    border-radius: 0;
    border-bottom: 3px solid dodgerblue;
    color: dodgerblue !important;
}

.tab-pan-container{
    height: 45vh;
    overflow-y: auto;
}