.kanban-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-left: 5rem;
}
.kanban-container .btn-add-board{
    align-self: flex-end;
}
.board-list{
    list-style: none;
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}
.board-list .board-item{
    flex-basis: 350px;
    flex-shrink: 0;

}
.column-container{
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: rgb(231, 231, 231);
    border-radius: 8px;
}
.column-header{
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(95, 96, 97);
    border-bottom: 1px solid white;
    padding-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.board__title span{
    margin-right: 0.5rem;
    padding: 0.5rem;
}
.btn-edit-cardTitle svg{
    width: 1.7rem;
}
.jobs-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-block: 2rem;
}

.column-title{
    padding-block: 1rem;
    border-bottom: 1px solid #cfcfcf;
    color: #5f6061;
}
.task-list{
    margin-block: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task-card:hover{
    box-shadow: 0 0 9px -2px #cfcfcf;
}
.task-card:hover .task-owner{
    color: #467cd2;
}
.task-card .address{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(40, 55, 62);
}
.task-card .task-owner{
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(40, 55, 62);
}
.task-card-footer{
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem !important;
}
.task-card-footer .profile-text-box{
    background-color: rgb(188 188 188);
    padding: 0.4rem;
    border-radius: 50%;
}