@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary-shade: #318fd4;
  --color-primary: #2581bc;
  --color-primary-lighter: #e7f1fc;

  --color-white: #fff;

  --color-gray: #edf0f2;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  /* color: #6b7980; */
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* BUTTONS */
.btn {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  display: inline-block;
  border-radius: 1000px;
  /* font-size: 1.6rem; */
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  background-color: var(--color-primary);
  color: #fff;
}
.btn--primary:hover,
.btn--primary:active {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary-lighter {
  background-color: var(--color-primary-lighter);
  color: var(--color-primary);
  transition: all 0.3s;
}
.btn--primary-lighter:hover,
.btn--primary-lighter:active {
  background-color: #5593c2;
  color: var(--color-white);
}

.btn-outline-secondary,
.btn-outline-secondary:link,
.btn-outline-secondary:visited {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  color: rgb(33, 37, 41);
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
  background-color: var(--color-gray);
  border: 1px solid var(--color-gray);
  color: rgb(33, 37, 41);
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* INPUTS  */
.form-label {
  /* font-size: 1.6rem; */
  font-weight: 400;
  color: #28373e;
}
.form-control, .form-select {
  /* font-size: 1.6rem; */
  font-weight: 400;
  padding-block: 1rem;
}

input::placeholder{
  color: #888;
  font-weight: 300;
}


/* GRID LAYOUT  */
.grid{
  display: grid;
}

.grid--2-cols{
  grid-template-columns: repeat(2, 1fr);
}
.grid--4-cols{
  grid-template-columns: repeat(4, 1fr);
}
.grid-span-all-cols{
  grid-column:  1 / -1;
}

.profile-form .grid-gap{
  column-gap: 2rem;
}

.modal-header{
  justify-content: center;
  border-bottom: 0;
}

.modal-title{
  /* font-size: 2.5rem !important; */
  font-weight: 300;
  color: #000;
}
.modal-content{
  border-radius: 12px;
  border: 0;
  padding-inline: 2rem;
  padding-block: 3rem;
  position: relative;
  padding-top: 5rem;
}

.form-control:focus{
  border-color: #90ccec;
  box-shadow: none;
}

.modal-header .btn-close{
  position: absolute;
  top: 22px;
  color: #000;
  right: 22px;
}

.modal-footer{
  border-top: 0;
}

.button-translate{
  transform: translateX(10px);
}

/* styles.css */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  padding-inline: 1rem;
}

.icon-container svg path {
  fill: currentColor; /* This will use the current text color for fill */
}

.icon-container:hover {
  /* background-color: #f0f4f8; Adjust as needed */
  color: #000; /* Change to desired hover color */
}
 .btn-gradient{
  background:linear-gradient(108.74deg, #2E429B -60.43%, #18FAF8 193.77%);
 }
 .btn-gradient-dark{

   background: linear-gradient(96.61deg, #1E40AF 27.87%, #60A5FA 151.88%),
 }
 .gradient-t-b{
  background: linear-gradient(180deg, #2E429B -150.68%, #18FAF8 221.94%);

 }


.quill{
  position: relative;
}

.ql-toolbar.ql-snow{
  border: 1px solid #cccccc52 !important;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 8px;
  border-radius: 8px !important;
  background: #d3d3d33b !important;
  width: fit-content !important;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  z-index: 10000;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow{
  border-radius: 8px !important;
  min-height: 10rem;
  border: 1px solid #cccccc52 !important;
}
.ql-editor{
  padding-bottom: 3rem;
}